.static-box{
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    .title{
        line-height: 32px;
        border-bottom: 1px #eee solid;
        width: 100%;
        margin-bottom: 10px;
    }
    .static-item{
        margin-bottom: 40px;
    }
}