.static-item{
    align-items: center;
    padding: 10px 18px;
    background: rgb(233,251,240);
    margin-right: 10px;
    border-radius: 8px;
    img{
        width: 26px;
        height: 26px;
    }
    .static-item-info{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        color: green;
        font-size: 12px;
        font-weight: bold;
        align-items: center;
    }
}

.send-inter-card{
    width: 100%;
    height: 200px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
    padding: 30px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.send-form-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .send-form-item{
        width: 48%;
    }
}